<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Property Price Predictor</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script type="text/javascript">
         function showHide() {
           var div = document.getElementById("result-div");
           console.log(div.style.display);
           if (div.style.display == "none") {
             div.style.display = "flex";
           } else {
             div.style.display = "none";
           }
         }
        </script>
    </head>
    <body>        
        <div class="container-fluid">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                  <a class="navbar-brand" href="/">Property Price Prediction</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="nav-link" href="/predict">Prediction</a>
                      </li>
                      <li class="nav-item active">
                        <a class="nav-link" href="/avgprice">Avg Price<span class="sr-only">(current)</span></a>
                      </li>
                    </ul>
                  </div>
                </nav>
            </div>
            <div class="d-flex justify-content-center mt-5">
                <form method="POST">
                <h2>Average Property Price</h2><br>
                <div class="input-group mb-3">
                    <input name='suburb' type='text' class="form-control" placeholder="Address" size="100" required>
                    <div class="input-group-append">
                        <input type='submit' value='Check Price' class="btn btn-primary">
                    </div>
                </div>
                </form>
            </div>
        </div>
    </body>
</html>
