<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Property Price Predictor</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div class="container-fluid">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                  <a class="navbar-brand" href="index">Property Price Prediction</a>
                </nav>
            </div>
            <div style="width:200px; height:200px; position:absolute; top:0; bottom:0; left:0; right:0; margin: auto;">
                <div class="d-flex justify-content-center">        
                    <h1>Crime Report</h1>
                </div>
                <div class="d-flex justify-content-center mt-3">
                    <form method='POST'>
                        <input type="text" placeholder="Enter in Suburbs">
                        <input type="submit" value="Submit Suburbs">
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
