<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Property Price Predictor</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div class="container-fluid">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                  <a class="navbar-brand" href="/">Property Price Prediction</a>
                </nav>
            </div>
            <div class="d-flex justify-content-center mt-5">
                <form method="POST">
                    <h2>School Ranking</h2><br>
                    <div class="input-group mb-3">
                        <input name="council" type="text" class="form-control" placeholder="Council name" size="50" required>
                        <input name="average" type="checkbox"class="form-control" size="5">
                        <label for="average">Compute Average</label>
                        <div class="input-group-append">
                            <input type="submit" value='Check Rank' class="btn btn-primary">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
